database_details/*
!database_details/database_details_example.yaml

email_details/*
!email_details/email_details_example.yaml

writer/cmake-build-debug
email_sender.log
sender/__pycache__

events/*
!events/example

failed_emails.xlsx
successful_emails.xlsx

test.py

.DS_Store
*.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
