database_details.json
email_details*
writer/cmake-build-debug
email_sender/email_sender.log
email_sender/__pycache__
email_sender/events.py
csv_files
.DS_Store
*.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
